{% extends 'home.html'%}
    {% block title %}
        Detail Book
    {% endblock %}

    {% block a %}
    Detail Book
    {% endblock %}

{% block content %}
    <div class="container-fluid">
		<div class="row">
            <div class="col-md-4 col-md-offset-4">
                <hr>
                <h3>
                    Title:
                    {{book.getTitle()}}
                </h3>
                <p>
                    author:
                    {{book.getAuthor()}}
                </p>
                <small>
                    Publisher:
                    {{book.getPublisher().getName()}}
                </small>
                <br>
                <small>
                    price:
                    {{book.getPrice()}}
                </small>
                <hr>
                <p><a class="btn btn-primary btn-lg"  href="/edit/{{book.getId()}}" role="button"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                <a id="edit" data-book-id ='{{book.getId()}}' class="btn btn-primary btn-lg" role="button"><i class="glyphicon glyphicon-trash"></i> Delete</a></p>
            </div>
        </div>
    </div>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/javascripts/detail.js"></script>
{% endblock %}

