<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library Books</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/../javascripts/script.js"></script>
    </head>
    <body>
        <h1>Home Books</h1>
        <button id="btn-add">Add</button>
        <button id="btn-show">Show</button>
        <label for="liveSearch"></label>
        <input type="text" id="liveSearch" placeholder="Key Word">
        <hr>
        <div id="view-books">
            <!--List Books-->
        </div>
        <div id="addBook">
            <form id="fm-add">
                <label for="title">Title</label><br>
                <input type="text" id="title"><br>
                <label for="author">Author</label><br>
                <input type="text" id="author"><br>
                <label for="publisher">Publisher</label><br>
                <select id="publisher">
                </select><br>
                <label for="price">Price</label><br>
                <input type="number" id="price"><br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>